In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import joblib
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
balt_crime =pd.read_csv('resources/balt_cleaned.csv')
balt_crime

C:\Users\mitch\anaconda3\1\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,OBJECTID,CCNO,CrimeDateTime,CrimeCode,Location,Description,Post,Gender,Age,Race,Ethnicity,District,Neighborhood,Latitude,Longitude,Total_Incidents
0,1,23F08231,2023/06/24 04:01:00+00,4B,600 LUCIA AVE,AGG. ASSAULT,833.0,F,15.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
1,2,23F08231,2023/06/24 04:01:00+00,4B,600 LUCIA AVE,AGG. ASSAULT,833.0,F,15.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
2,3,23F08231,2023/06/24 04:01:00+00,4B,600 LUCIA AVE,AGG. ASSAULT,833.0,F,27.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
3,4,23F08231,2023/06/24 04:01:00+00,3JK,600 LUCIA AVE,ROBBERY,833.0,M,25.0,BLACK_OR_AFRICAN_AMERICAN,UNKNOWN,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
4,5,23F08235,2023/06/24 03:45:00+00,5A,3200 LILY AVE,BURGLARY,922.0,M,48.0,NaN,HISPANIC_OR_LATINO,SOUTHERN,CHERRY HILL,39.246432,-76.636819,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568609,568610,11C00465,2011/03/01 22:11:00+00,4D,600 MELVILLE AVE,AGG. ASSAULT,515.0,F,25.0,BLACK_OR_AFRICAN_AMERICAN,NaN,NORTHERN,WAVERLY,39.331681,-76.607352,1
568610,568611,11C00686,2011/03/01 20:30:00+00,6J,2700 ANNAPOLIS RD,LARCENY,921.0,NaN,NaN,UNKNOWN,NaN,SOUTHERN,WESTPORT,39.256270,-76.638018,1
568611,568612,11C00912,2011/03/01 20:00:00+00,7A,900 LYNDHURST ST,AUTO THEFT,815.0,M,38.0,BLACK_OR_AFRICAN_AMERICAN,NaN,SOUTHWEST,EDMONDSON VILLAGE,39.297945,-76.681485,1
568612,568613,11C00337,2011/03/01 14:40:00+00,4B,1600 LORMAN CT,AGG. ASSAULT,724.0,M,42.0,BLACK_OR_AFRICAN_AMERICAN,NaN,WESTERN,SANDTOWN-WINCHESTER,39.304108,-76.643871,1
568613,568614,11C00193,2011/03/01 07:30:00+00,5A,100 BROADWAY,BURGLARY,212.0,M,53.0,BLACK_OR_AFRICAN_AMERICAN,NaN,SOUTHEAST,WASHINGTON HILL,39.290164,-76.593936,1

In [3]:
balt_crime = balt_crime.rename(columns={'Neighborhood': 'BestForBusiness'})
balt_crime

,OBJECTID,CCNO,CrimeDateTime,CrimeCode,Location,Description,Post,Gender,Age,Race,Ethnicity,District,BestForBusiness,Latitude,Longitude,Total_Incidents
0,1,23F08231,2023/06/24 04:01:00+00,4B,600 LUCIA AVE,AGG. ASSAULT,833.0,F,15.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
1,2,23F08231,2023/06/24 04:01:00+00,4B,600 LUCIA AVE,AGG. ASSAULT,833.0,F,15.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
2,3,23F08231,2023/06/24 04:01:00+00,4B,600 LUCIA AVE,AGG. ASSAULT,833.0,F,27.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
3,4,23F08231,2023/06/24 04:01:00+00,3JK,600 LUCIA AVE,ROBBERY,833.0,M,25.0,BLACK_OR_AFRICAN_AMERICAN,UNKNOWN,SOUTHWEST,YALE HEIGHTS,39.273302,-76.692439,1
4,5,23F08235,2023/06/24 03:45:00+00,5A,3200 LILY AVE,BURGLARY,922.0,M,48.0,NaN,HISPANIC_OR_LATINO,SOUTHERN,CHERRY HILL,39.246432,-76.636819,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568609,568610,11C00465,2011/03/01 22:11:00+00,4D,600 MELVILLE AVE,AGG. ASSAULT,515.0,F,25.0,BLACK_OR_AFRICAN_AMERICAN,NaN,NORTHERN,WAVERLY,39.331681,-76.607352,1
568610,568611,11C00686,2011/03/01 20:30:00+00,6J,2700 ANNAPOLIS RD,LARCENY,921.0,NaN,NaN,UNKNOWN,NaN,SOUTHERN,WESTPORT,39.256270,-76.638018,1
568611,568612,11C00912,2011/03/01 20:00:00+00,7A,900 LYNDHURST ST,AUTO THEFT,815.0,M,38.0,BLACK_OR_AFRICAN_AMERICAN,NaN,SOUTHWEST,EDMONDSON VILLAGE,39.297945,-76.681485,1
568612,568613,11C00337,2011/03/01 14:40:00+00,4B,1600 LORMAN CT,AGG. ASSAULT,724.0,M,42.0,BLACK_OR_AFRICAN_AMERICAN,NaN,WESTERN,SANDTOWN-WINCHESTER,39.304108,-76.643871,1
568613,568614,11C00193,2011/03/01 07:30:00+00,5A,100 BROADWAY,BURGLARY,212.0,M,53.0,BLACK_OR_AFRICAN_AMERICAN,NaN,SOUTHEAST,WASHINGTON HILL,39.290164,-76.593936,1

In [4]:
X = balt_crime.drop(columns=['BestForBusiness'])
y = balt_crime['BestForBusiness']

In [5]:
description_count = balt_crime['Description'].nunique()

description_values = balt_crime['Description'].unique()

print("Number of unique description values", description_count)
print("Unique description values", description_values)

Number of unique description values 13
Unique description values ['AGG. ASSAULT' 'ROBBERY' 'BURGLARY' 'COMMON ASSAULT' 'AUTO THEFT'
 'LARCENY' 'LARCENY FROM AUTO' 'SHOOTING' 'ROBBERY - CARJACKING' 'RAPE'
 'HOMICIDE' 'ROBBERY - COMMERCIAL' 'ARSON']

In [6]:
description_dict = {
    'AGG. ASSAULT': 1,
    'ROBBERY': 2,
    'BURGLARY': 3,
    'COMMON ASSAULT': 4,
    'AUTO THEFT': 5,
    'LARCENY': 6,
    'LARCENY FROM AUTO': 7,
    'SHOOTING': 8, 
    'ROBBERY - CARJACKING': 9,
    'RAPE': 10,
    'HOMICIDE': 11,
    'ROBBERY - COMMERCIAL': 12,
    'ARSON': 13    
}
balt_crime['Description'] = balt_crime['Description'].map(description_dict)

In [7]:
cc_encoder = LabelEncoder()
balt_crime['CrimeCode'] = cc_encoder.fit_transform(balt_crime["CrimeCode"])

In [8]:
dist_encoder = LabelEncoder()
balt_crime['District'] = dist_encoder.fit_transform(balt_crime["District"])

In [9]:
neighborhood_encoder = LabelEncoder()
y_numeric = neighborhood_encoder.fit_transform(y)
balt_crime['BestForBusiness'] = neighborhood_encoder.fit_transform(balt_crime["BestForBusiness"])

In [10]:
post_encoder = LabelEncoder()
balt_crime['Post'] = post_encoder.fit_transform(balt_crime["Post"])

In [11]:
balt_crime

,OBJECTID,CCNO,CrimeDateTime,CrimeCode,Location,Description,Post,Gender,Age,Race,Ethnicity,District,BestForBusiness,Latitude,Longitude,Total_Incidents
0,1,23F08231,2023/06/24 04:01:00+00,44,600 LUCIA AVE,1,109,F,15.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,7,276,39.273302,-76.692439,1
1,2,23F08231,2023/06/24 04:01:00+00,44,600 LUCIA AVE,1,109,F,15.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,7,276,39.273302,-76.692439,1
2,3,23F08231,2023/06/24 04:01:00+00,44,600 LUCIA AVE,1,109,F,27.0,BLACK_OR_AFRICAN_AMERICAN,NOT_HISPANIC_OR_LATINO,7,276,39.273302,-76.692439,1
3,4,23F08231,2023/06/24 04:01:00+00,30,600 LUCIA AVE,2,109,M,25.0,BLACK_OR_AFRICAN_AMERICAN,UNKNOWN,7,276,39.273302,-76.692439,1
4,5,23F08235,2023/06/24 03:45:00+00,48,3200 LILY AVE,3,116,M,48.0,NaN,HISPANIC_OR_LATINO,6,45,39.246432,-76.636819,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568609,568610,11C00465,2011/03/01 22:11:00+00,46,600 MELVILLE AVE,1,62,F,25.0,BLACK_OR_AFRICAN_AMERICAN,NaN,3,257,39.331681,-76.607352,1
568610,568611,11C00686,2011/03/01 20:30:00+00,63,2700 ANNAPOLIS RD,6,115,NaN,NaN,UNKNOWN,NaN,6,263,39.256270,-76.638018,1
568611,568612,11C00912,2011/03/01 20:00:00+00,66,900 LYNDHURST ST,5,102,M,38.0,BLACK_OR_AFRICAN_AMERICAN,NaN,7,73,39.297945,-76.681485,1
568612,568613,11C00337,2011/03/01 14:40:00+00,44,1600 LORMAN CT,1,92,M,42.0,BLACK_OR_AFRICAN_AMERICAN,NaN,8,229,39.304108,-76.643871,1
568613,568614,11C00193,2011/03/01 07:30:00+00,48,100 BROADWAY,3,14,M,53.0,BLACK_OR_AFRICAN_AMERICAN,NaN,5,255,39.290164,-76.593936,1

In [12]:
balt_crime = balt_crime.drop(['CCNO', 'CrimeDateTime', 'Gender', 'Location', 'Age', 'Race', 'Ethnicity', 'Latitude', 'Longitude',], axis=1)
balt_crime

,OBJECTID,CrimeCode,Description,Post,District,BestForBusiness,Total_Incidents
0,1,44,1,109,7,276,1
1,2,44,1,109,7,276,1
2,3,44,1,109,7,276,1
3,4,30,2,109,7,276,1
4,5,48,3,116,6,45,1
...,...,...,...,...,...,...,...
568609,568610,46,1,62,3,257,1
568610,568611,63,6,115,6,263,1
568611,568612,66,5,102,7,73,1
568612,568613,44,1,92,8,229,1
568613,568614,48,3,14,5,255,1

In [13]:
from numpy.random.mtrand import sample
sample_data = balt_crime.sample(frac=.1, random_state=42)
sample_data

,OBJECTID,CrimeCode,Description,Post,District,BestForBusiness,Total_Incidents
202209,202210,43,1,99,7,168,1
443839,443840,63,6,3,0,63,1
423898,423899,59,6,58,3,213,1
86057,86058,0,11,121,6,37,1
81589,81590,43,1,35,1,15,1
...,...,...,...,...,...,...,...
252749,252750,38,2,38,2,50,1
55843,55844,85,8,122,6,174,1
244490,244491,61,6,123,6,34,1
373001,373002,58,7,7,0,169,1
249565,249566,51,3,81,4,212,1

In [14]:
X = sample_data[['OBJECTID', 'CrimeCode', 'Description', 'Post', 'District', 'Total_Incidents']]
y = sample_data['BestForBusiness']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [17]:
predictions = rf_model.predict(X_test)

In [19]:
predicted_neighborhood_name = neighborhood_encoder.inverse_transform(predictions)

In [22]:
selected_neighborhood = X_test[predictions == 1].iloc[0]  
print("Best neighborhoods for a new business:", predicted_neighborhood_name)

Best neighborhoods for a new business: ['CHARLES VILLAGE' 'WESTGATE' 'NEW NORTHWOOD' ... 'RIVERSIDE'
 'WASHINGTON HILL' 'EVERGREEN LAWN']